<html>
<body>

<form>
<select name="typeselect" rt:reference="true" multiple="true">
<option value="hoge">1</option>
<option value="moge">2</option>
<option value="doge">3</option>
</select>
</form>

<form>
<select name="typeselect" rt:reference="true" multiple>
<option value="hoge">1</option>
<option value="moge">2</option>
<option value="doge">3</option>
</select>
</form>

<form>
<select name="typeselect[]" rt:reference="true" multiple="true" >
<option value="hoge">1</option>
<option value="moge">2</option>
<option value="doge">3</option>
</select>
</form>

</body>
</html>